NODE_ENV='development'
LOGGER_LEVEL='trace'
LOGGER_PRETTY=true
PORT="3000"

# Database
DB_HOST='mysql'
DB_PORT=3306
DB_USER='user_crud'
DB_PASSWORD='root'
DB_NAME='db_crud'

# Auth
SECRET_TOKEN_JWT='Neox'

# SendGrid
SEND_GRID_ACCESS_KEY='HOLA'
EMAIL_EMIT='noreply@yourdomain.com'
